html,
body {
  height: 100%;
  margin: 0
}

#root {
    height: 100% !important;
}

.ui.input input{
    border-radius: 0 !important;
}


@media only screen and (min-width: 1200px){
.ui.grid.container {
    width: 85% !important;
}}
